body *{
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
  text-align: center;
}

body div {
  display: inline-block;
}

h1 a {
	margin-left: 0.3em;
	text-decoration: none;
	color: #21ECA7;
    padding: 5px 7px 5px 5px;
    border-radius: 5px;
}
table {
	font-size: 70px;
	border-spacing: 0px;
	display: inline-block;
}
td {
	width: 105px;
	height: 105px;
	text-align: center;
}

td.playertwo:before{
    content: "\20DD";
    line-height: 1px;
    display: block;
    font-size: 85px;
    font-weight: bold;
    margin-top: -5px;
}
td.playerone:before{
	content: "\274C";
}


body {background-color: #252830;}
body * {color: rgb(197, 197, 197);}
td.winning-move {color: #21ECA7 !important;}

td.playerone {color: #9F86FF;}
td.playertwo {color: #9F86FF;}

td {border: 3px solid #434857;}
tr:nth-child(1) td {border-top: none;}
tr:nth-child(3) td {border-bottom: none;}
td:nth-child(1) {border-left: none;}
td:nth-child(3) {border-right: none;}